Workflow.json
{
  "name": "Умный поиск по книгам",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://jpcsgzcswglbihtkmgeu.supabase.co/rest/v1/rpc/get_or_create_book",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_file_name\": \"={{ $('Send message and wait for response2').item.json.data['Загрузите книгу'][0].filename }}\",\n  \"p_title\": \"={{ $('Send message and wait for response2').item.json.data['Загрузите книгу'][0].filename.replace('.txt', '') }}\",\n  \"p_size_bytes\": {{ $('Нарезать на фрагменты2').item.json.sizeBytes }},\n  \"p_chunk_count\": {{ $('Нарезать на фрагменты2').item.json.totalChunks }}\n}",
        "options": {}
      },
      "id": "3729048e-9275-4afe-9911-a4613815f2a2",
      "name": "Создать запись книги в Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3qksiIScmLcmiycb",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/mixedbread-ai/mxbai-embed-large-v1/pipeline/feature-extraction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Wait-For-Model",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {{ JSON.stringify($('Split Out2').item.json.content) }},\n  \"options\": {\n    \"wait_for_model\": true\n  }\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          },
          "timeout": 40000
        }
      },
      "id": "b8c381b9-53b2-46bc-9b94-a3af24d3ce81",
      "name": "Embedding чанка → HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "r50PwBzLsdWxeh47",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://jpcsgzcswglbihtkmgeu.supabase.co/rest/v1/chunks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"book_id\": {{ $('Создать запись книги в Supabase').item.json.id }},\n  \"book_name\": \"={{ $('Нарезать на фрагменты2').item.json.fileName }}\",\n  \"content\": ,\n  \"embedding\": {{ $json.embedding }},\n  \"chapter\": \"={{ $('Split Out2').item.json.chapter || 'Начало' }}\",\n  \"line_start\": {{ $('Split Out2').item.json.lineStart || 0 }},\n  \"line_end\": {{ $('Split Out2').item.json.lineEnd || 0 }}\n}",
        "options": {}
      },
      "id": "8e149ca6-f299-4742-ab05-4710351421b8",
      "name": "Вставить чанк в Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3qksiIScmLcmiycb",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/mixedbread-ai/mxbai-embed-large-v1/pipeline/feature-extraction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Wait-For-Model",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {{ JSON.stringify($('Разобрать сообщение1').item.json.query) }},\n  \"options\": { \"wait_for_model\": true }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c2a25333-1565-4f02-980f-e8c7d104424a",
      "name": "Embedding запроса → HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        1248
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "r50PwBzLsdWxeh47",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ИСПРАВЛЕНО: HF возвращает float[] или float[][] — нормализуем\nconst raw = $input.first().json;\nlet embedding;\n\nif (Array.isArray(raw) && Array.isArray(raw[0])) {\n  embedding = raw[0];\n} else if (Array.isArray(raw)) {\n  embedding = raw;\n} else {\n  throw new Error('Неожиданный формат ответа HF: ' + JSON.stringify(raw).slice(0,200));\n}\n\nreturn [{ json: { embedding } }];"
      },
      "id": "73f2a281-8bf4-4413-907d-da794c75c35f",
      "name": "Распаковать эмбеддинг запроса",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        1248
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "8e81499a-8c26-4554-93be-839d89439b55",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2144,
        1008
      ],
      "webhookId": "book-search-bot",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Разобрать сообщение1').item.json.chatId }}",
        "text": "📚 *Умный поиск по книгам*\n\nЯ ищу фрагменты в книгах и отвечаю на вопросы по их содержанию.\n\n*Команды:*\n🔍 /search — найти фрагменты текста\n💬 /ask — задать вопрос по книгам\n📖 /books — список загруженных книг\n\n*Загрузка книги:*\n📄 Отправь .txt файл прямо в чат\n\n*Примеры:*\n`/search первый бал Наташи Ростовой`\n`/ask Почему Раскольников решился на убийство?`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "77f2160c-7ea4-4a3a-80a8-249f342cca82",
      "name": "Отправить справку1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1424,
        448
      ],
      "webhookId": "496df682-ca3e-443f-8179-3302ed41490b",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Сообщение отправлено!!!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "7146b78f-6fdc-4659-aec7-124652d07358",
      "name": "Книга загружена1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        544
      ],
      "webhookId": "80120882-9b73-4336-86f1-8c2ccf8f3761",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "books",
        "returnAll": true,
        "filterType": "string",
        "filterString": "select=file_name,chunk_count,size_bytes&order=uploaded_at.desc"
      },
      "id": "e60a8e14-f22a-4c7d-8582-f37af9bf90e0",
      "name": "Список книг → Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1360,
        1056
      ],
      "credentials": {
        "supabaseApi": {
          "id": "yZbFdNIlAizR3S9X",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows   = $input.all().map(i => i.json);\nconst chatId = $('Разобрать сообщение1').item.json.chatId;\nlet text;\nif (!rows.length || !rows[0].file_name) {\n  text = '📚 Книги ещё не загружены.\\n\\nОтправь .txt файл прямо в чат, чтобы добавить книгу.';\n} else {\n  const list = rows.map((r, i) =>\n    `${i+1}. 📗 *${r.file_name}*\\n    ${r.chunk_count} фрагм. · ${Math.round(r.size_bytes/1024)} КБ`\n  ).join('\\n\\n');\n  text = `📚 *Загруженные книги (${rows.length}):*\\n\\n${list}\\n\\nЧтобы найти — /search запрос`;\n}\nreturn [{ json: { chatId, text } }];"
      },
      "id": "8f80b735-54f3-495a-9423-263d919c4d56",
      "name": "Форматировать список книг1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        944
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "105e2b81-553c-478b-85dc-ad1a4e5bb5ad",
      "name": "Отправить список книг1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -704,
        880
      ],
      "webhookId": "05809afa-83eb-4511-919c-b90f94a19f56",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const query  = $('Разобрать сообщение1').item.json.query;\nconst mode   = $('Разобрать сообщение1').item.json.mode;\nconst chatId = $('Разобрать сообщение1').item.json.chatId;\n\nif (!query) {\n  const hint = mode === 'qa'\n    ? 'Напиши вопрос после команды.\\nПример: /ask Почему Раскольников убил старуху?'\n    : 'Напиши запрос после команды.\\nПример: /search первый бал Наташи Ростовой';\n  return [{ json: { chatId, emptyQuery: true, hint } }];\n}\nreturn [{ json: { chatId, mode, query, emptyQuery: false } }];"
      },
      "id": "62743c1d-3769-4e95-a942-c1632449e9c1",
      "name": "Проверить запрос1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        1168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "empty-q",
              "leftValue": "={{ $json.emptyQuery }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "790701e0-b32f-4cda-9029-3568faadfabd",
      "name": "Запрос пустой?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1264,
        1168
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=⚠️ {{ $json.hint }}",
        "additionalFields": {}
      },
      "id": "87f785e9-a496-4b69-8788-dfa9f4148b82",
      "name": "Подсказка по команде1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -752,
        1088
      ],
      "webhookId": "560302ae-c0a5-4198-b90e-4d5a3f1f915a",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Разобрать сообщение1').item.json.chatId }}",
        "text": "=🔍 Ищу по запросу: _{{ $('Разобрать сообщение1').item.json.query }}_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f95c9be1-69a8-4ced-87e9-06eb7132fdc9",
      "name": "Сообщение: ищу1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1040,
        1248
      ],
      "webhookId": "4a4b1a8b-4995-4363-a094-108d0dec8097",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.supabaseApi.host }}/rest/v1/rpc/search_by_embedding",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApi.serviceRole }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query_embedding\": {{ JSON.stringify($json.embedding) }},\n  \"top_k\": 5\n}",
        "options": {}
      },
      "id": "45e4d16e-f583-467d-80be-d5c6dbbd2164",
      "name": "Векторный поиск → Supabase RPC1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        1248
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3qksiIScmLcmiycb",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows   = $input.first().json;\nconst query  = $('Разобрать сообщение1').item.json.query;\nconst mode   = $('Разобрать сообщение1').item.json.mode;\nconst chatId = $('Разобрать сообщение1').item.json.chatId;\n\nconst results = Array.isArray(rows) ? rows : [];\n\nif (!results.length) {\n  return [{ json: { chatId, noResults: true, query, mode } }];\n}\n\nconst context = results.map((r, i) => [\n  `[Фрагмент ${i+1}] | Сходство: ${(r.similarity * 100).toFixed(0)}%`,\n  `Книга: «${r.book_name}» | Раздел: ${r.chapter} | Строки: ${r.line_start}–${r.line_end}`,\n  '',\n  r.content\n].join('\\n')).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = mode === 'qa'\n  ? 'Ты помощник, который отвечает на вопросы СТРОГО на основе предоставленных фрагментов книг. Давай подробный ответ. В конце обязательно приведи 2-3 прямые цитаты из текста в кавычках с указанием книги. Если ответа нет в предоставленных фрагментах — честно сообщи об этом. Отвечай на русском языке.'\n  : 'Ты помощник для поиска по книгам. Из предоставленных фрагментов выбери 3-5 наиболее подходящих под запрос. Для каждого: укажи книгу и место в тексте, приведи краткую цитату, объясни 1 предложением почему фрагмент подходит. Если ни один фрагмент не подходит под запрос — честно скажи об этом. Отвечай на русском языке.';\n\nconst userPrompt = `${mode === 'qa' ? 'Вопрос' : 'Запрос'}: «${query}»\\n\\nФрагменты из книг:\\n\\n${context}`;\n\nreturn [{ json: { chatId, mode, query, systemPrompt, userPrompt, noResults: false } }];"
      },
      "id": "c879b855-3e1c-4b18-babf-df8609ece795",
      "name": "Подготовить контекст для AI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        1248
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "no-res",
              "leftValue": "={{ $json.noResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e934b75d-827c-43de-bb90-b201b0a5a22e",
      "name": "Есть результаты?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        64,
        1248
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=📭 По запросу *{{ $json.query }}* ничего не найдено в загруженных книгах.\n\nПроверь список книг: /books\nЗагрузи книгу — отправь .txt файл",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "071e6778-2483-4cc0-94df-a9c65c1afeea",
      "name": "Нет результатов1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        288,
        1168
      ],
      "webhookId": "16b82ae7-69ba-45b2-8be8-8ac709028685",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "8bb36ee3-eda5-497f-a32c-a509216e97bc",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        288,
        1328
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5396f4dc-c9b9-443b-b0c6-0e3393479da6",
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        1488
      ],
      "credentials": {
        "openRouterApi": {
          "id": "I9CZyxwILyQpEOXf",
          "name": "API LLM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const answer = $input.first().json.output || $input.first().json.text || '';\nconst chatId = $('Подготовить контекст для AI1').item.json.chatId;\nconst mode   = $('Подготовить контекст для AI1').item.json.mode;\n\nconst prefix = mode === 'qa' ? '💬 *Ответ на вопрос:*\\n\\n' : '🔍 *Найденные фрагменты:*\\n\\n';\nlet text = prefix + answer;\n\nif (text.length > 3900) {\n  text = text.slice(0, 3900) + '\\n\\n_...ответ сокращён из-за ограничений Telegram_';\n}\n\nreturn [{ json: { chatId, text } }];"
      },
      "id": "6c6e2848-7b8c-46f4-a615-6103aa7a08a8",
      "name": "Форматировать ответ1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        1328
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a57fff38-bc42-4570-a61d-7e8fb11437ea",
      "name": "Отправить ответ1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        1328
      ],
      "webhookId": "18dfe07a-b345-4257-b117-b1c0a05df596",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-help",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-upload",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/upload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/upload"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-books",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/list_books",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/list_books"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-search",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/search"
            }
          ]
        },
        "options": {}
      },
      "id": "03494185-9a20-4d24-9b9b-d49b9f0c2e0d",
      "name": "Роутер1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1744,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Получаем текст и имя файла (пути из вашего рабочего кода)\nconst rawText = $input.first().json.text || \"\";\n// Обратите внимание: путь к имени файла должен точно соответствовать структуре в n8n\nconst fileName = $('Send message and wait for response2').first().json.data['Загрузите книгу'][0].filename || 'book.txt';\n\n// Проверка на пустоту\nif (!rawText || rawText.length < 10) {\n  throw new Error('Текст не найден. Убедитесь, что файл передан корректно.');\n}\n\nconst CHUNK_SIZE = 1200; \nconst OVERLAP = 200;\n// Регулярка для определения глав (улучшенная версия)\nconst chapterRe = /^\\s*(annotation|глава|часть|том|chapter|раздел)\\s*.*|^\\s*[IVXLCDM]+\\s*$/i;\n\nconst lines = rawText.split('\\n');\nlet currentChapter = \"Начало / Аннотация\";\nlet buffer = \"\";\nlet lineStart = 1;\nconst chunks = [];\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (!line) continue;\n\n  // Если встретили заголовок главы (ограничение длины строки, чтобы не принять обычный текст за главу)\n  if (chapterRe.test(line) && line.length < 60) {\n    if (buffer.trim().length > 5) {\n      chunks.push({ \n        chapter: currentChapter, \n        lineStart, \n        lineEnd: i, \n        content: buffer.trim() \n      });\n      buffer = \"\";\n    }\n    currentChapter = line;\n    lineStart = i + 1;\n  }\n\n  buffer += line + \" \";\n\n  // Нарезка по размеру (с учетом перекрытия OVERLAP)\n  if (buffer.length >= CHUNK_SIZE) {\n    chunks.push({ \n      chapter: currentChapter, \n      lineStart, \n      lineEnd: i + 1, \n      content: buffer.trim() \n    });\n    // Оставляем «хвост» для контекста следующего чанка\n    buffer = buffer.slice(-OVERLAP);\n    lineStart = i + 1;\n  }\n}\n\n// Добавляем последний кусок текста\nif (buffer.trim().length > 5) {\n  chunks.push({ \n    chapter: currentChapter, \n    lineStart, \n    lineEnd: lines.length, \n    content: buffer.trim() \n  });\n}\n\n// Формируем выходные данные как в первом примере\nreturn [{ \n  json: { \n    chunks: chunks, \n    fileName: fileName,\n    totalChunks: chunks.length,\n    sizeBytes: rawText.length\n  } \n}];"
      },
      "id": "ce583d24-f5b2-458e-a281-8f08e3d23906",
      "name": "Нарезать на фрагменты2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        672
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.chat.id }}",
        "message": "Загрузи книгу",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Загрузите книгу",
              "fieldType": "file",
              "acceptFileTypes": ".txt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1376,
        880
      ],
      "id": "adda634e-f36b-4892-aa6a-182f035f5eac",
      "name": "Send message and wait for response2",
      "webhookId": "1f7cad42-f341-4bab-ac0b-ed1a821c69d1",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "_______________",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1200,
        784
      ],
      "id": "553fd3e1-a7c6-400b-ba84-6137fdb8ae7e",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -880,
        528
      ],
      "id": "7e66bd66-04dd-4aa1-bd75-074563dce996",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "embedding",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        240,
        336
      ],
      "id": "0c2c791d-9475-42ef-807f-44a8351e4207",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        544
      ],
      "id": "8e9e2f7b-5a0d-43e1-8fe2-4b8cdae1b870",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        208,
        16
      ],
      "id": "1069db55-c8e8-4ff4-8beb-03513e4e5e08",
      "name": "Limit"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -416,
        560
      ],
      "id": "3970ef1f-783b-40c8-b928-a3b4415b97d1",
      "name": "Aggregate1"
    }
  ],
  "pinData": {},
  "connections": {
    "Создать запись книги в Supabase": {
      "main": [
        [
          {
            "node": "Embedding чанка → HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding чанка → HF": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вставить чанк в Supabase": {
      "main": [
        [
          {
            "node": "Книга загружена1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding запроса → HF": {
      "main": [
        [
          {
            "node": "Распаковать эмбеддинг запроса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Распаковать эмбеддинг запроса": {
      "main": [
        [
          {
            "node": "Векторный поиск → Supabase RPC1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Роутер1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Список книг → Supabase1": {
      "main": [
        [
          {
            "node": "Форматировать список книг1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать список книг1": {
      "main": [
        [
          {
            "node": "Отправить список книг1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверить запрос1": {
      "main": [
        [
          {
            "node": "Запрос пустой?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос пустой?1": {
      "main": [
        [
          {
            "node": "Подсказка по команде1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщение: ищу1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение: ищу1": {
      "main": [
        [
          {
            "node": "Embedding запроса → HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Векторный поиск → Supabase RPC1": {
      "main": [
        [
          {
            "node": "Подготовить контекст для AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить контекст для AI1": {
      "main": [
        [
          {
            "node": "Есть результаты?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть результаты?1": {
      "main": [
        [
          {
            "node": "Нет результатов1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Форматировать ответ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать ответ1": {
      "main": [
        [
          {
            "node": "Отправить ответ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Роутер1": {
      "main": [
        [
          {
            "node": "Отправить справку1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message and wait for response2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Список книг → Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверить запрос1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нарезать на фрагменты2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Нарезать на фрагменты2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Создать запись книги в Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Вставить чанк в Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "86643e22-30eb-4b5f-9b45-0f08b9091bd9",
  "meta": {
    "instanceId": "ef54d6bc21c36c3d24b246e111c5bcc9415a8aeeee932293aeeb5e99a6fc8a9e"
  },
  "id": "IPg4-WIuJkdEY6ySPlQ6L",
  "tags": []
}
