Workflow.json
{
  "name": "Умный поиск по книгам",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "8245be58-08d1-4633-b417-bd4bd001f017",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2384,
        1168
      ],
      "webhookId": "book-search-bot",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "books",
        "returnAll": true,
        "filterType": "string",
        "filterString": "select=title"
      },
      "id": "ef8a7e91-f6ef-4791-a20c-ec63bcd1b5f1",
      "name": "Список книг → Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1760,
        1168
      ],
      "credentials": {
        "supabaseApi": {
          "id": "yZbFdNIlAizR3S9X",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Список книг на данный момент: {{ $json.title.join(', ') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "fb7ed9bd-36c4-49d3-8b15-ad782b63b258",
      "name": "Отправить список книг1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1200,
        1120
      ],
      "webhookId": "05809afa-83eb-4511-919c-b90f94a19f56",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }} тараса бульбы",
        "options": {
          "systemMessage": "=Я пользователь, который хочет узнать вопрос по определенной книге с возможным учетом главы, если понадобится. \nПо запросу на поиск фрагмента текста (например, «Найди, где говорится про...») ты должен выдавать несколько (например, 3–5) самых подходящих фрагментов текста. Для каждого фрагмента должна быть выведена информация, откуда он взят (книга и, по возможности, место в тексте — глава, страница и т.п., если есть). Если в загруженных текстах нет нужного фрагмента, система должна уметь честно сообщить об этом пользователю. По запросу с вопросом (например: «Что произошло с Наташей и Пьером в эпилоге романа \"Война и мир\"?») ты должен дать ответ, опираясь на\nзагруженные в тебя тексты. Чтобы найти название книги из списка ищи в metadata book и там есть название в chapter глава книги. Название может быть на русском, английском и других языках, с разными символами, значком расширения тхт. Ты должен его прочитать, понять к какой это книге относится и дальше строить ответ. Если задается вопрос про конкретную главу - ищи именно в этой главе и только\nДля каждого ответа должен быть выведен список цитат из исходного\nтекста, на которые система опиралась при ответе. \nЕсли в загруженных текстах нет ответа на точный вопрос (нет спрашевоемого имени, события, главы, города или вообще вопрос по незагруженной книге, вопрос по фильму, событию, не относяшемогося ни к чему) ты говоришь пользователю \"Извините, ничего не было найдено по вашему вопросу, подкорректируйте вопрос\". Попробуй не вставлять символы и слова, не относящиеся к ответу, типа text, metadata, line и тд, ведь это относится больше к самой работе с текстом, а не к ответу. Формат текста должен быть красиво составлен для глаза, то-есть нет такого, что два слова идут без пробела и тд. «ВАЖНО: При ответе пользователю НИКОГДА не выводи технические данные, ID, номера строк или JSON-объекты из метаданных (например, 【{\"id\":0...}】).\nТвоя задача — дать чистый человеческий ответ. Если хочешь сослаться на источник, просто напиши: (Источник: Глава 5). Весь остальной технический шум из контекста игнорируй и не показывай пользователю.». Попробуй еще сделать это используя поменьше токенов"
        }
      },
      "id": "51a5dfd7-e565-4b59-b8fa-eda73642834f",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1232,
        1520
      ]
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-super-120b-a12b:free",
        "options": {}
      },
      "id": "9406b9b3-4435-4868-b906-1dee3ee4b77a",
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1264,
        1728
      ],
      "credentials": {
        "openRouterApi": {
          "id": "81j52o3Y6ZyPLCMj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-help",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-upload",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/upload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/upload"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-books",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/list_books",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/list_books"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-search",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/search"
            }
          ]
        },
        "options": {}
      },
      "id": "11b5add6-fa29-456a-aa79-2fd3635932e2",
      "name": "Роутер1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2128,
        1136
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.chat.id }}",
        "message": "Загрузить книгу",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Загрузите книгу",
              "fieldType": "file",
              "acceptFileTypes": ".txt"
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Загрузить",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1744,
        896
      ],
      "id": "51ee8d1c-c94d-4e8d-90ca-0db6d394a533",
      "name": "Send message and wait for response2",
      "webhookId": "1f7cad42-f341-4bab-ac0b-ed1a821c69d1",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "_______________",
        "destinationKey": "=text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1472,
        768
      ],
      "id": "c70ba207-6d21-45f0-b486-dc716806dab3",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "chunks",
          "mode": "list",
          "cachedResultName": "chunks"
        },
        "embeddingBatchSize": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -752,
        512
      ],
      "id": "fe63bc30-0b3e-4fd4-8862-53c779affd76",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "yZbFdNIlAizR3S9X",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "book",
                "value": "={{ $('Send message and wait for response2').item.json.data['Загрузите книгу'][0].filename.replace('.txt', '') }}"
              },
              {
                "name": "chapter",
                "value": "={{ $('Нарезать на фрагменты и выделить главы').item.json.metadata.chapter }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -496,
        784
      ],
      "id": "abe36039-c89b-4bd1-a508-e518e0ccdaac",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "mixedbread-ai/mxbai-embed-large-v1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -816,
        816
      ],
      "id": "a72756d5-03ca-4f1f-818d-aa02ee92d129",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "yRiCA6CZvBhEygpq",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "message": "Напишите интересующий вас вопрос в специальную форму\nВ вопросе укажите: Название книги, главу и том (по желанию и если есть)\nНомера пишите цифрами, чтобы выдавало корректный ответ",
        "responseType": "freeText",
        "options": {
          "messageButtonLabel": "Написать",
          "responseFormTitle": "",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1712,
        1424
      ],
      "id": "f8485370-408b-4e45-ada6-374f17b652cb",
      "name": "Send message and wait for response",
      "webhookId": "c7ab7954-b154-4e47-b044-fd215a05058e",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Это тебе данные из векторной базы данных. В metadata есть значение book которое дает название книги и chapter которое дает главу. в content само содержание. Ты должен на основе этого материала построить ответ. Если требуется какая-то глава - ищи в chapter в metadata\n",
        "tableName": {
          "__rl": true,
          "value": "chunks",
          "mode": "list",
          "cachedResultName": "chunks"
        },
        "topK": 15,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "chapter",
                "value": "={{ $json.filter_chapter }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -976,
        1744
      ],
      "id": "801d877a-e977-47b1-a434-b3ee30668ec7",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "yZbFdNIlAizR3S9X",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "mixedbread-ai/mxbai-embed-large-v1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -928,
        1920
      ],
      "id": "183694c9-621b-4a13-892c-6819f614be52",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "yRiCA6CZvBhEygpq",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1456,
        1152
      ],
      "id": "2ab1b1b4-f3d5-4cd5-b900-398cf2d6e29d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Отправлено",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        496
      ],
      "id": "c5132b1a-106d-43a0-bd84-89a77ea4ac7f",
      "name": "Send a text message",
      "webhookId": "93b9d97d-5c24-4434-8e26-f120e64c784d",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "09bcf9a2-e156-44bb-9ec1-2897a3d5f160",
      "name": "Ответ",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -800,
        1488
      ],
      "webhookId": "4a4b1a8b-4995-4363-a094-108d0dec8097",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst fullText = input.json.text || \"\";\nconst fileName = $('Send message and wait for response2').first().json.data['Загрузите книгу'][0].filename.replace('.txt', '');\n\nfunction romanToArab(roman) {\n  if (!isNaN(roman)) return parseInt(roman);\n  const lookup = { I: 1, V: 5, X: 10, L: 50, C: 100, D: 500, M: 1000 };\n  let arab = 0;\n  let i = roman.toUpperCase().length;\n  while (i--) {\n    if (lookup[roman[i]] < lookup[roman[i + 1]]) {\n      arab -= lookup[roman[i]];\n    } else {\n      arab += lookup[roman[i]];\n    }\n  }\n  return arab;\n}\n\n// Ваша рабочая регулярка для поиска глав\nconst chapterRegex = /(?:\\n|^)(?:Глава\\s+)?([IVXLCDM]+|[0-9]+)(?:\\.|\\s)*(?:\\n|\\r|$)/gi;\n\nconst parts = fullText.split(chapterRegex);\nlet results = [];\n\n// Функция для очистки текста (шлифовка \\n и пробелов)\nfunction cleanText(t) {\n  return t.replace(/[\\r\\n]+/g, '\\n').replace(/[ \\t]+/g, ' ').trim();\n}\n\n// ЕСЛИ ГЛАВЫ НАЙДЕНЫ (parts.length > 1)\nif (parts.length > 1) {\n  for (let i = 1; i < parts.length; i += 2) {\n    const originalChapter = parts[i].trim();\n    const chapterNumber = romanToArab(originalChapter.toUpperCase());\n    let chapterContent = parts[i + 1] ? parts[i + 1] : \"\";\n    \n    chapterContent = cleanText(chapterContent);\n\n    // Фильтр: длина > 150 символов и наличие букв (убираем сноски)\n    if (chapterContent.length > 150 && /[а-яА-Яa-zA-Z]/.test(chapterContent)) {\n      results.push({\n        json: {\n          text: `Глава ${chapterNumber}\\n${chapterContent}`,\n          metadata: { chapter: chapterNumber, book: fileName }\n        }\n      });\n    }\n  }\n}\n\n// ЕСЛИ ГЛАВЫ НЕ НАЙДЕНЫ ИЛИ ВСЕ БЫЛИ ОТСЕЯНЫ КАК МАЛЕНЬКИЕ\nif (results.length === 0) {\n  const polishedText = cleanText(fullText);\n\n  if (polishedText.length > 150 && /[а-яА-Яa-zA-Z]/.test(polishedText)) {\n    results.push({\n      json: {\n        text: polishedText,\n        metadata: { chapter: 1, book: fileName }\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "id": "f60b1ab4-93e6-42bd-bf7f-86caa39c5e68",
      "name": "Нарезать на фрагменты и выделить главы",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        656
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Разобрать сообщение1').item.json.chatId }}",
        "text": "📚 *Умный поиск по книгам*\n\nЯ ищу фрагменты в книгах и отвечаю на вопросы по их содержанию.\n\n*Команды:*\n🔍 /search — найти фрагменты текста\n💬 /ask — задать вопрос по книгам\n📖 /books — список загруженных книг\n\n*Загрузка книги:*\n📄 Отправь .txt файл прямо в чат\n\n*Примеры:*\n`/search первый бал Наташи Ростовой`\n`/ask Почему Раскольников решился на убийство?`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "825ae08e-99a4-41cf-9e56-7d2ddd83a080",
      "name": "Отправить справку",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1744,
        608
      ],
      "webhookId": "496df682-ca3e-443f-8179-3302ed41490b",
      "credentials": {
        "telegramApi": {
          "id": "CZXftFUVcPFhvuZ8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "books",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.metadata.book }}"
            }
          ]
        }
      },
      "id": "4e9c1fc7-b887-4df6-907b-841458f6edaf",
      "name": "Загрузить в бд книгу",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -352,
        512
      ],
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "yZbFdNIlAizR3S9X",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.data?.text || \"\"; // Текст сообщения пользователя\n\n// 1. Ищем главу (Глава 5, Гл. 4, 3 глава, в пятой главе)\nconst chapterMatch = text.match(/(?:глава|гл\\.?|гл|в|главе)\\s*(\\d+|[IVXLCDM]+)|(\\d+|[IVXLCDM]+)\\s*(?:глава|главе|гл\\.?)/i);\n\n// 2. Ищем том (Том 2, Т. 1, 3 том)\nconst volumeMatch = text.match(/(?:том|т\\.?)\\s*(\\d+|[IVXLCDM]+)|(\\d+|[IVXLCDM]+)\\s*(?:том|т\\.?)/i);\n\n// Функция для перевода римских цифр (из нашего прошлого кода)\nfunction romanToArab(roman) {\n  if (!roman) return null;\n  if (!isNaN(roman)) return parseInt(roman);\n  const lookup = { I: 1, V: 5, X: 10, L: 50, C: 100, D: 500, M: 1000 };\n  let arab = 0;\n  let i = roman.toUpperCase().length;\n  while (i--) {\n    if (lookup[roman[i]] < lookup[roman[i + 1]]) {\n      arab -= lookup[roman[i]];\n    } else {\n      arab += lookup[roman[i]];\n    }\n  }\n  return arab;\n}\n\n// Извлекаем чистые числа\nconst chapter = chapterMatch ? romanToArab(chapterMatch[1] || chapterMatch[2]) : null;\nconst volume = volumeMatch ? romanToArab(volumeMatch[1] || volumeMatch[2]) : null;\n\nreturn {\n  query: text,\n  filter_chapter: chapter,\n  filter_volume: volume,\n  has_filter: !!(chapter || volume)\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        1472
      ],
      "id": "b5a18c98-5101-4503-b6f6-7088901cee31",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Роутер1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Список книг → Supabase1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Роутер1": {
      "main": [
        [
          {
            "node": "Отправить справку",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message and wait for response2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Список книг → Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Нарезать на фрагменты и выделить главы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Отправить список книг1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Загрузить в бд книгу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ": {
      "main": [
        []
      ]
    },
    "Нарезать на фрагменты и выделить главы": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загрузить в бд книгу": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f65f0cbf-3655-40c8-81a8-1e8e5229bcee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef54d6bc21c36c3d24b246e111c5bcc9415a8aeeee932293aeeb5e99a6fc8a9e"
  },
  "id": "IPg4-WIuJkdEY6ySPlQ6L",
  "tags": []
}
